.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $second-color;
    align-items: center;
    text-align: center;
    background: $blue-color;
    font-family: inherit;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}